<h1 class="display-4" style="text-align: center;">Consultas</h1>
<hr>
<p class="lead" style="text-align: center;">¿Qué desea consultar?</p>
<br>
<div class="jumbotron">
    <p style="text-align: center;"><img src="../../assets/logo.png" alt="" style="width: 90px; height: 90px; text-align: center;"></p>
    <br>
    <form class="form-inline" style="justify-content: center;">
            <input style="width:80%;" class="form-control mr-sm-2" type="text" placeholder="¿Qué es lo que busca?">
            <button class="btn btn-dark my-2 my-sm-0" type="submit" ><i class="fas fa-arrow-alt-circle-right"></i>Consultar</button>
    </form>
    <br>
  </div>
  <br>

  <app-footer></app-footer>
