<h1 style="text-align: center;" class="mt-5">Preguntas Frecuentes</h1>
<hr>
<div class="container mt-5" style="width: 70%;">
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        1.- ¿LA GRASA SE TRANSFORMA EN MÚSCULO?
      </mat-expansion-panel-header>
      ¡No! Los músculos consumen grasa. Desarrollar los músculos aumenta el metabolismo basal. 
      Y aumentar el metabolismo basal significa gastar más energía, calorías y grasas. 
      Esto explica que un trabajo cardiovascular adelgace, pero que aún adelgace más si se combina con un trabajo muscular.
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        2.- ¿A QUÉ RITMO HAY QUE ENTRENARSE PARA OBTENER RESULTADOS?
      </mat-expansion-panel-header>
      La frecuencia de las sesiones es lo que va a hacer que estés entrenado(a), es decir, 
      ser regular. Vale más entrenarse 2 o 3 veces por semana que una vez de tanto en tanto. 
      Una práctica regular es lo que va a permitirte disfrutar y obtener resultados. 
      La irregularidad del entrenamiento solo aporta descontento, agujetas, cansancio, desmotivación... ¡y abandono!
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        3.- ¿LA BICICLETA ESTÁTICA (EL BIKING) ESTILIZA LAS PIERNAS?
      </mat-expansion-panel-header>
      ¡Sí, con una resistencia moderada! Si la resistencia es demasiado importante y ralentiza el pedaleo, 
      ¡tus músculos aumentarán de volumen! En efecto, una resistencia demasiado grande supondría utilizar mucho peso, 
      lo que aumentaría el volumen muscular (como en la musculación).
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        4.- DESDE QUE HE EMPEZADO A HACER REFUERZO MUSCULAR, ME HAN AUMENTADO LOS MUSLOS... ¡Y NO ME CABE EL PANTALÓN! ¿QUÉ PUEDO HACER?
      </mat-expansion-panel-header>
      Gracias al refuerzo muscular, tienes unos músculos tonificados. ¡Pero gracias a los estiramientos serán finos y largos!
       No te olvides de no utilizar nunca cargas pesadas (pesas) durante las sesiones de fitness. Es mejor que optes por las
        series largas (repeticiones de un mismo movimiento) que consumirán tus reservas, combinadas con un programa de 
        estiramientos, para alargar y estilizar los músculos.
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        5.- ¿QUÉ EJERCICIO DE ABDOMINALES HAY QUE HACER PARA PERDER LA BARRIGA?
      </mat-expansion-panel-header>
      El entrenamiento de todo el cuerpo y en particular de los grandes grupos musculares es el que va a consumir la grasa 
      abdominal. Los abdominales son unos músculos demasiado pequeños y no permiten por sí solos recuperar el vientre 
      plano... en cambio, son necesarios para resolver los problemas de espalda y son esenciales para la postura y la 
      estabilidad del cuerpo.
    </mat-expansion-panel>
  
  </mat-accordion>
</div>
<app-footer></app-footer>
