<app-loading *ngIf="this.bandera"></app-loading>
<h1 style="text-align: center;">Acerca De Nosotros</h1>
<hr>
<br>

<div fxHide.xs> 
  <mat-grid-list cols="3" rowHeight="700px">
    <mat-grid-tile>
      <mat-card class="example-card" style="height: 570px;">
        <mat-card-header>
          <mat-card-title style="color: #0617b4;"><strong>¿Quiénes Somos?</strong></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/logo.png" alt="" style="height: 300px;">
        <mat-card-content>
          <p style="text-align: justify;" #texto>
            Lo que comenzó como un solo gimnasio lleno de equipos caseros se ha convertido en una marca global a la 
            vanguardia del fitness. FH Gym tiene como objetivo brindar a sus miembros lo mejor: desde equipos modernos 
             hasta un ambiente limpio y acogedor con un personal experto.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="play; else pausa">
            <button class="btn btn-dark" (click)="start(texto.innerHTML)" >                
              <i class="fab fa-accessible-icon"></i>
            </button>
          </div>
           <ng-template #pausa>
            <button class="btn btn-dark" (click)="start(texto.innerHTML)" >                
              <i class="fab fa-accessible-icon"></i>
            </button>
            <button class="btn btn-danger" (click)="pause()">                
              <i class="fas fa-stop-circle"></i>
            </button>
            <button class="btn btn-warning" (click)="resume()">                
              <i class="fas fa-angle-double-right"></i>
            </button>
           </ng-template>
           
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card class="example-card" style="height: 570px;">
        <mat-card-header>
          <mat-card-title style="color: #0617b4;"><strong>Maquinas de Fuerza</strong></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/imagen4.jpg" alt="" style="height: 300px;">
        <mat-card-content>
          <p style="text-align: justify;">
            Cada FH Gym tiene una amplia selección de máquinas de fuerza para ayudarlo a fortalecerse. Con las máquinas 
            de fuerza seleccionadas, puede apuntar a áreas individuales y grupos musculares y atacarlos desde diferentes ángulos. 
            
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card class="example-card" style="height: 570px;">
        <mat-card-header>
          <mat-card-title style="color: #0617b4;"><strong>Equipo Cardiovascular</strong></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/imagen5.jpg" alt="" style="height: 300px;">
        <mat-card-content>
          <p style="text-align: justify;">
            ¿Buscas ejercitarte? Las máquinas de cardio se encuentran entre las comodidades más populares en nuestros gimnasios. 
            Con máquinas elípticas, cintas de correr, bicicletas estacionarias, escaladores y más, tenemos las herramientas para 
            aumentar su ritmo cardíaco y mantenerlo allí.  
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card class="example-card" style="height: 570px;">
        <mat-card-header>
          <mat-card-title style="color: #0617b4;"><strong>Pesas Libres</strong></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/imagen6.jpg" alt="" style="height: 300px;">
        <mat-card-content>
          <p style="text-align: justify;">
            Tenemos pesas, mancuernas, bastidores y bancos, el núcleo de cualquier buen programa de entrenamiento de 
              fuerza. Si eres un levantador olímpico, un levantador de potencia, un levantador casual o un levantador 
              primerizo, encontrarás todo lo que necesitas para levantar algo pesado.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card class="example-card" style="height: 570px;">
        <mat-card-header>
          <mat-card-title style="color: #0617b4;"><strong>Clases Grupales</strong></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/imagen7.jpg" alt="" style="height: 300px;">
        <mat-card-content>
          <p style="text-align: justify;">
            Las clases grupales ofrecen camaradería y una atmósfera eléctrica. Comienza la quemadura con clases que van 
            desde cardio ligero hasta levantar objetos pesados. Los gimnasios participantes ofrecen clases de Zumba, Les
            Mills, Yoga y más.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card class="example-card" style="height: 570px;">
        <mat-card-header>
          <mat-card-title style="color: #0617b4;"><strong>Entrenamiento Personal</strong></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/imagen8.jpg" alt="" style="height: 300px;">
        <mat-card-content>
          <p style="text-align: justify;">
            Si se toma en serio mejorar su estado físico, no hay mejor manera de comprometerse que programar una sesión con 
              nuestro cuerpo técnico de primer nivel. Con rigurosos entrenamientos y certificaciones, nuestro personal creará un 
              programa de entrenamiento personalizado para ayudarlo a ser lo mejor posible.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Learn More</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<br>
<!--Uso de Pipe para video seguro-->
<p style="text-align: center;">
  <iframe 
  width="560" 
  height="315" 
  [src]="video | domseguro:'https://www.youtube.com/embed/' "
  frameborder="0" 
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen>
</iframe>
</p>

<br>

<app-footer></app-footer>
