<h1 class="display-4" style="text-align: center;">Centro de Ayuda</h1>
<hr>
<p class="lead" style="text-align: center;">Revisa nuestros tutoriales, preguntas más frecuentes y envíanos un ticket a través del Centro de Ayuda.
</p>
<br>
<div class="jumbotron ayuda">
    <p style="text-align: center;"><img src="../../assets/logo.png" alt="" style="width: 90px; height: 90px; text-align: center;"></p>
    <br>
    <form class="form-inline" style="justify-content: center;">
            <input style="width:80%;" class="form-control mr-sm-2" type="text" placeholder="¿En qué podemos ayudarte?">
            <button class="btn btn-dark my-2 my-sm-0" type="submit"><i class="fas fa-arrow-alt-circle-right"></i></button>
    </form>
    <br>
    <p style="text-align: center;">
        <a class="btn btn-primary btn-lg mr-2" href="#" role="button"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-success btn-lg mr-2" href="#" role="button"><i class="fa fa-whatsapp"></i></a>
        <a class="btn btn-info btn-lg mr-2" href="#" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-danger btn-lg mr-2" href="#" role="button"><i class="fa fa-instagram"></i></a>
        
    </p>
  </div>
  <br>

  <app-footer></app-footer>
